


<mat-toolbar color = "primary"> 
  <mat-toolbar-row> 
    <span> Angular5 + Material design  </span> 

    <span class = "example-spaceer"></span> 


    <button mat-button> About </button> 
    <button mat-button> Services </button> 
    <button mat-button> Contact </button> 

  </mat-toolbar-row> 

</mat-toolbar>  




<mat-card> 

    <mat-form-field> 
    
       <input matInput [(ngModel)] = "answer" placeholder = "ที่ไหนที่โชว์แต่เรื่องใหม่ๆ"> 

    </mat-form-field>  



 <br> 


 <button mat-raised-button (click) = "showAnswer()"> ตอบหน่อยได้ไหม </button>  

 <mat-spinner [style.display] = "showSpinner ? 'block' : 'none'"> </mat-spinner> 



</mat-card>  


<mat-card *ngIf = "answerDisplay"> 

   <h1> {{ answerDisplay }}, ถูกต้องนะคร้าบบบบบบบบ </h1>               


</mat-card> 


